@{
	ViewBag.Title = "Error";
	ViewBag.Description = "An error has occurred on the site";
}

<div id="error_container" class="main-section">
	<div class="inner">
		<span>An action you requested resulted in an error with the site.  If this issue continues, please report the error on the forums <a href="https://www.phscommunity.com/index.php?/topic/369-main-website-errors/">here</a>.</span>
	</div>
</div>