<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://phstudios.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>phstudios.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>phstudios</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$phstudios</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="program_phstudiosEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=(local)\PHSTUDIOS;Initial Catalog=program_phstudios;Persist Security Info=True;User ID=sa;Password=phstudios;Application Name=EntityFramework;ApplicationIntent=ReadOnly" Name="Data Source=(local)\PHSTUDIOS;Initial Catalog=program_phstudios;Persist Security Info=True;User ID=sa;Password=phstudios;MultipleActiveResultSets=True;Application Name=EntityFramework;ApplicationIntent=ReadOnly" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PHStudios.Models.program_phstudiosEntities, PHStudios" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)program_phstudiosEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.PHStudiosModel.csdl|res://*/Models.PHStudiosModel.ssdl|res://*/Models.PHStudiosModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=(local)\PHSTUDIOS;Initial Catalog=program_phstudios;Persist Security Info=True;User ID=sa;Password=phstudios;MultipleActiveResultSets=True;Application Name=EntityFramework;ApplicationIntent=ReadOnly"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>