@{
	ViewBag.Title = "Games";
	ViewBag.Description = "There are games and source code available for you to use";
}

<div id="game_list_container" class="main-section">
	<div class="inner small">
		<span>There are currently no games available.  The existing games are being re-made in MonoGame and DirectX</span>
	</div>
</div>