@{
	ViewBag.Title = "Help";
	ViewBag.Description = "Are you having trouble or noticed an issue with the site?";
}

<div id="help_section" class="main-section">
	<div class="inner">
		<a href="https://www.phscommunity.com/index.php?/topic/368-broken-links/" class="generic-link">
			<i class="fa fa-chain-broken"></i>
			Report a broken link or resource
		</a>
		<a href="https://www.phscommunity.com/index.php?/forum/13-help-and-input/" class="generic-link">
			<i class="fa fa-question"></i>
			Visit the forums for more ways to receive help
		</a>
	</div>
</div>